<ion-header>
  <ion-toolbar primary>
    <ion-title>Activity Details</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let activity of selectedActivities">
    <h1>{{ activity.SurveyAttemptsTitle }}</h1>
  </div>
</ion-content>
