<ion-header>
  <ion-toolbar primary>
    <ion-title>Update</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <!-- There's something fishy here causing the modal to not work -->
  <h2>{{ post.ForumTitle }}</h2>
  <p class="muted">Posted by {{ post.UsersFirstName }} {{ post.UsersLastName }}</p>
  <!--
  Device (iPad) doesn't like the way I'm doing the date formatting.  Browser likes it
  just fine :-(  Causes the modal to not appear on device. So I removed it for now.
  <p class="muted">Posted by {{ post.UsersFirstName }} {{ post.UsersLastName }} on {{ postDate | date: 'MM/dd/yyyy' }}</p>
  -->

  <div [innerHTML]="post.ForumBody | linky | newline"></div>
  
</ion-content>
  