<ion-header>
  <ion-toolbar primary>
    <ion-title>View All Notifications</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <notifications-view #notificationsmodal></notifications-view>
</ion-content>
