<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Creating PDF</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="light-blue">
  <div class="center">
    <img class="pdf-icon-large" src="assets/img/adobe-pdf-icon.svg" />
  </div>
</ion-content>
