<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Create Report PDF</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="light-blue">
  <div class="center">
    <img class="pdf-icon-large" src="assets/img/adobe-pdf-icon.svg" />

    <div class="chart-spacer">
      <!-- Render any charts here out of sight in the print modal -->
      <donut id="chart1" #chart1 questionIdentifier="Visit" reportType="Visit"></donut>
    </div>
  </div>
</ion-content>
