<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Activities</ion-title>

    <ion-buttons start>
      <button ion-button (click)="toggleMenu()" hideWhen="landscape">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end color="white">
      <button ion-button (click)="presentFrequencyPage()">
        <ion-icon name="ios-podium-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end color="white">
      <button *ngIf="filterObj.selectedRegion.length > 0" ion-button (click)="presentMapPage()">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end color="white">
      <button ion-button (click)="presentReportPDFActionSheet()">
        <ion-icon name="ios-print-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content fullscreen class="light-blue">
  <ion-card class="error" *ngIf="dataLoaded == true && filteredActivitiesArray.length == 0">
    <ion-card-content>
      <h1> Oops! There's no data here.</h1>
      <p>Try changing the filter options in the left-hand column.</p>
    </ion-card-content>
  </ion-card>

  <div #reportDom>
    <div #activities [attr.activityId]="activity.SurveyAttemptsId" *ngFor="
      let activity of filteredActivitiesArray
    ">
      <activity-box
        [activity]="activity"
        [selectedQuarter]="filterObj.selectedQuarter"
      >
      </activity-box>
    </div>
  </div>
</ion-content>
