<div class="report-widget-container">
  <canvas baseChart class="report-widget-doughnut-chart"
    [data]="widgetChartData.percentageOfTotal.chartData"
    [options]="doughnutChartOptions"
    [colors]="doughnutChartColors"
    [chartType]="doughnutChartType"></canvas>

  <div class="report-widget-doughnut-label-container">
    <div>
      <span class="report-widget-doughnut-label-large">    {{widgetChartData.percentageOfTotal.labelData[0]}}</span><span class="report-widget-doughnut-label-small">%</span>
    </div>

    <span class="text-label report-widget-doughnut-label-small muted">
      Filtered: {{ widgetChartData.percentageOfTotal.chartData[0] }} of
      {{ widgetChartData.percentageOfTotal.labelData[1] }} activities
    </span>
  </div>
</div>

<div class="report-widget-container">
  <canvas baseChart class="report-widget-doughnut-chart"
    [data]="widgetChartData.percentageOfFollowUpVisits.chartData"
    [options]="doughnutChartOptions"
    [colors]="doughnutChartColorsFiltered"
    [chartType]="doughnutChartType"></canvas>

  <div class="report-widget-doughnut-label-container">
    <div>
      <span class="report-widget-doughnut-label-large">{{widgetChartData.percentageOfFollowUpVisits.labelData[0]}}</span><span class="report-widget-doughnut-label-small">%</span>
    </div>

    <span class="text-label report-widget-doughnut-label-small muted">Follow Ups: {{ widgetChartData.percentageOfFollowUpVisits.chartData[0] }} of
    {{ widgetChartData.percentageOfFollowUpVisits.labelData[1] }} activities</span>
  </div>
</div>

<div class="report-widget-container">
  <canvas baseChart class="report-widget-doughnut-chart"
    [data]="widgetChartData.percentageOfOnSiteVisits.chartData"
    [options]="doughnutChartOptions"
    [colors]="doughnutChartColorsFiltered"
    [chartType]="doughnutChartType"></canvas>

  <div class="report-widget-doughnut-label-container">
    <div>
      <span class="report-widget-doughnut-label-large">{{widgetChartData.percentageOfOnSiteVisits.labelData[0]}}</span><span class="report-widget-doughnut-label-small">%</span>
    </div>

    <span class="text-label report-widget-doughnut-label-small muted">On Site: {{ widgetChartData.percentageOfOnSiteVisits.chartData[0] }} of
    {{ widgetChartData.percentageOfOnSiteVisits.labelData[1] }} activities</span>
  </div>
</div>
