.report-widget-container {
  width: 100%;
  height: 150px;
  position: relative;
}

.report-widget-doughnut-chart {
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
}

.report-widget-doughnut-chart.big {
  width: 250px;
  height: 250px;
}

.report-widget-doughnut-label-container {
  position: absolute;
  top: 32px;
  width: 100%;
  text-align: center;
}

.report-widget-doughnut-label-container .text-label {
  display: block;
  margin-top: 40px;
}

.report-widget-doughnut-label-large {
  font-size: 2em;
}

.report-widget-doughnut-label-small {
  text-transform: uppercase;
  font-size: 1em;
}
