<ion-card class="card-report">
  <ion-card-header>{{ activity.SurveyAttemptsTitle }}</ion-card-header>
  <ion-card-content style="position: relative;" class="activity-content">
    <p>
      <strong>{{ activity.User.UsersFirstName }} {{ activity.User.UsersLastName }}</strong>
    </p>
    <p><strong *ngIf="activity.SurveyAttemptsFollowUpToId > 0" class="orange">FOLLOW UP</strong> {{ activity.DateFormatted }}</p>

    <div class="list-icons">
      <ion-icon class="icon-sm" name="star" color="orange" *ngIf="activity.SurveyAttemptsFollowUpRequired == 'Yes'"></ion-icon>
      <ion-icon class="icon-sm" name="notifications" color="danger"
          *ngIf="activity.HasNotification == 'Yes'"></ion-icon>
      <ion-icon class="icon-sm" name="checkmark-circle" color="primary"
          *ngIf="activity.HasToDo == 'Yes'"></ion-icon>
    </div>

    <div *ngIf="activity.Duration && activity.Duration.length > 0">
      <ion-icon class="icon-sm" color="green" ios="md-time" md="md-time"></ion-icon>&nbsp;{{ activity.Duration }}
    </div>

    <!-- Location -->
    <div class="border-top wrap" padding-vertical>
      <ion-icon name="pin" color="orange"></ion-icon>
      <span><ion-badge color="primary" class="m-b-6" (click)="filterActivities('region', [activity.User.UsersRegion])">{{ activity.User.UsersRegion }}</ion-badge></span>

      <span *ngFor="let county of activity.Location.Counties">
        <ion-badge color="secondary" class="m-b-6" (click)="filterActivities('county', [activity.User.UsersRegion, county])">
          {{ county }}
        </ion-badge>
      </span>

      <span *ngFor="let district of activity.Location.Districts">
        <ion-badge color="grey-dark" class="m-b-6" (click)="filterActivities('district', [activity.User.UsersRegion, district])">
          {{ district }}
        </ion-badge>
      </span>

    </div>

    <!-- Follow Ups -->
    <div class="m-b-6" *ngIf="activity.FollowUpSurveyAttempts.length > 0">
      <strong class="muted">FOLLOW UP ACTIVITIES</strong>
    </div>
    <div *ngFor="let fu of activity.FollowUpSurveyAttempts">
      <p><a (click)="showActivityPage(fu)">{{ fu.SurveyAttemptsTitle }}</a></p>
      <p><span class="muted">{{ fu.DateFormatted }}</span></p>
    </div>
  </ion-card-content>

  <!-- View/Select Buttons -->
  <div class="no-print border-top m-t-12">
    <button class="full-width center" (click)="showActivityPage(activity)" center ion-button icon-left clear small>
      <ion-icon name="search"></ion-icon>
      <div>VIEW ACTIVITY</div>
    </button>
  </div>
</ion-card>
