
<ion-list *ngIf="notifications.length > 0">
  <ion-item *ngFor="let notification of notifications">
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <button ion-button clear icon-only (click)="markNotificationRead(notification)">
            <ion-icon *ngIf="notification.notification_read == 'No'" color="incomplete" name="ios-mail-outline"></ion-icon>
            <ion-icon *ngIf="notification.notification_read == 'Yes'" color="complete" name="ios-mail-open"></ion-icon>
          </button>
        </ion-col>
        <ion-col [ngClass]="notification.read_status">
          <small>For activity 
            <a (click)="showActivityPage(notification.surveyAttemptId)">
              <strong>
                <span *ngIf="notification.surveyAttemptTitle">
                  {{ notification.surveyAttemptTitle }}
                </span>
                <span *ngIf="!notification.surveyAttemptTitle">
                  [No Title]
                </span>
              </strong>  
            </a> on <span class="muted">{{ notification.date }}</span>
          </small>

          <p margin-top>{{ notification.notification}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<p style="margin-left: 12px;" *ngIf="notifications.length == 0">You have no unread notifications.</p>
<button ion-button clear *ngIf="showViewAll" (click)="presentNotificationsViewAllModal()">View all notifications</button>
  