<ion-card *ngIf="todos.length > 0">
  <ion-card-header>
    <strong class="header" style="margin-left: 12px;">Incomplete To-Do's</strong>
  </ion-card-header>
  <ion-card-content class="dashboard-todos-card-content">
    <ion-list>
      <ion-item *ngFor="let todo of todos">
        <ion-grid>
          <ion-row>
            <ion-col col-auto>
              <button ion-button clear icon-only (click)="toggleToDoComplete(todo)">
                <ion-icon *ngIf="todo.todos_status == 'incomplete'" color="incomplete" name="ios-checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="todo.todos_status == 'complete'" color="complete" name="ios-checkmark-circle"></ion-icon>
              </button>
            </ion-col>
            <ion-col [ngClass]="todo.todos_status">
              <a (click)="showActivityPage(todo.surveyAttemptId)">
                <small *ngIf="todo.surveyAttemptTitle">
                  {{ todo.surveyAttemptTitle }}
                </small>
                <small *ngIf="!todo.surveyAttemptTitle">
                  [No Title]
                </small>
              </a><br />
              <!--<small class="muted">{{ todo.date }}</small><br />-->
              {{ todo.todos }}
            </ion-col>
            <ion-col col-auto>
              <button ion-button small clear icon-only (click)="deleteToDo(todo)">
                <ion-icon class="icon-small" color="danger" name="md-close-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
