<ion-card>
  <ion-card-header>
    <ion-icon class="icon-sm" name="checkmark-circle" color="primary"></ion-icon>
    <strong class="header">Activity To-Do List</strong>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-print">
      <ion-row>
        <ion-col col-10>
          <ion-textarea class="textarea-bordered" autocorrect="on" rows="2" [(ngModel)]="newToDo" placeholder="Add new ToDo item."></ion-textarea>
        </ion-col>
        <ion-col col-2>
          <button ion-button color="primary" (click)="saveToDo()" small>Save</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list no-lines>
      <ion-item *ngFor="let todo of todos">
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <button ion-button clear icon-only (click)="toggleToDoComplete(todo)">
                <ion-icon *ngIf="todo.todos_status == 'incomplete'" color="incomplete" name="ios-checkmark-circle-outline"></ion-icon>
                <ion-icon *ngIf="todo.todos_status == 'complete'" color="complete" name="ios-checkmark-circle"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-10 [ngClass]="todo.todos_status">
              <small class="muted">Saved {{ todo.date }}</small><br />
              {{ todo.todos }}
            </ion-col>
            <ion-col col-1>
              <button ion-button small clear icon-only (click)="deleteToDo(todo)">
                <ion-icon class="icon-small" color="danger" name="md-close-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
