<ion-header>
  <ion-navbar color="green-med">
    <ion-title>Create Your Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
    <ion-list inset>
      <ion-item>
        <ion-input type="text" [formControl]="accountForm.controls['firstname']" placeholder="First Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" [formControl]="accountForm.controls['lastname']" placeholder="Last Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" [formControl]="accountForm.controls['email']" placeholder="Email address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [formControl]="accountForm.controls['password']" placeholder="Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select [formControl]="accountForm.controls['region']">
          <ion-option value="Region 1">Region 1</ion-option>
          <ion-option value="Region 2">Region 2</ion-option>
          <ion-option value="Region 3">Region 3</ion-option>
          <ion-option value="Region 4">Region 4</ion-option>
          <ion-option value="Region 5">Region 5</ion-option>
          <ion-option value="Region 6">Region 6</ion-option>
          <ion-option value="Region 7">Region 7</ion-option>
          <ion-option value="Region 8">Region 8</ion-option>
        </ion-select>
      </ion-item>

      <div padding>
        <button ion-button block type="submit" blue>Create Account</button>
      </div>

      <div style="margin-top: 30px;">
        <div class="error" *ngIf="!password.valid && password.touched || !email.valid && email.touched">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>An email and password are required.</ion-col>
          </ion-row>
        </div>
        <div class="error" *ngIf="accountError">
          <ion-row>
            <ion-col width-20><ion-icon ios="ios-sad-outline" md="md-sad"></ion-icon></ion-col>
            <ion-col width-80>{{ accountErrorMessage }}</ion-col>
          </ion-row>
        </div>
      </div>
    </ion-list>
  </form>
</ion-content>
